  <style type="text/css" media="screen">
    * {
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
    }

    body, html {
      padding: 3px 3px 3px 3px;
      background-color: #D8DBE2;
      font-family: Verdana, sans-serif;
      font-size: 11pt;
      text-align: center;
    }

    div.main_page {
      position: relative;
      display: table;
      width: 800px;
      margin-bottom: 3px;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 0px 0px 0px;
      border-width: 2px;
      border-color: #212738;
      border-style: solid;
      background-color: #FFFFFF;
      text-align: center;
    }

    div.page_header {
      height: 50px;
      width: 100%;
      background-color: #F5F6F7;
    }

    div.page_header span {
      margin: 3px 0px 0px 3px;
      font-size: 180%;
      font-weight: bold;
    }

    div.page_header img {
      margin: 3px 0px 0px 3px;
      border: 0px 0px 0px;
    }

    div.table_of_contents {
      clear: left;
      min-width: 200px;
      margin: 3px 3px 3px 3px;
      background-color: #FFFFFF;
      text-align: center;
    }

    div.table_of_contents_item {
      clear: left;
      width: 100%;
      margin: 4px 0px 0px 0px;
      background-color: #FFFFFF;
      color: #000000;
      text-align: center;
    }

    div.table_of_contents_item a {
      margin: 6px 0px 0px 6px;
    }

    div.content_section {
      margin: 3px 3px 3px 3px;
      background-color: #FFFFFF;
      text-align: center;
    }

    div.content_section_text {
      padding: 4px 8px 4px 8px;
      color: #000000;
      font-size: 100%;
    }

    div.content_section_text pre {
      margin: 8px 0px 8px 0px;
      padding: 8px 8px 8px 8px;
      border-width: 1px;
      border-style: dotted;
      border-color: #000000;
      background-color: #F5F6F7;
      font-style: italic;
    }

    div.content_section_text p {
      margin-bottom: 0px;
    }

    div.content_section_text ul,
    div.content_section_text li {
      padding: 4px 8px 4px 16px;
    }

    div.section_header {
      padding: 2px 2px 2px 2px;
      background-color: #212738;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 112%;
      text-align: center;
    }

    div.section_header_red {
      background-color: #CD214F;
    }

    div.section_header_grey {
      background-color: #9F9386;
    }

    .floating_element {
      position: relative;
      float: center;
    }

    div.table_of_contents_item a,
    div.content_section_text a {
      text-decoration: none;
      font-weight: bold;
    }

    div.table_of_contents_item a:link,
    div.table_of_contents_item a:visited,
    div.table_of_contents_item a:active {
      color: #000000;
    }
    div.table_of_contents_item a:hover {
      background-color: #000000;
      color: #FFFFFF;
    }

    div.content_section_text a:link,
    div.content_section_text a:visited,
    div.content_section_text a:active {
      background-color: #DCDFE6;
      color: #000000;
    }
    div.content_section_text a:hover {
      background-color: #000000;
      color: #DCDFE6;
    }

    div.validator {
    }

    .badge { display: inline-block; height: 48px; }
    .badge:hover { opacity: 0.7; }
    .badge-strava { height: 48px; width: 48px; background: url(/icons/strava-echelon-sprite-48.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-pypi   { height: 48px; width: 48px; background: url(//pypi.org/static/images/logo-small.8998e9d1.svg) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-messenger   { height: 48px; width: 48px; background: url(/icons/messenger-logo.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-instagram   { height: 48px; width: 48px; background: url(/icons/instagram-2-1.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-facebook   { height: 48px; width: 48px; background: url(/icons/f_logo_RGB-Blue_1024.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-youtube   { height: 48px; width: 48px; background: url(/icons/youtube.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-google   { height: 48px; width: 48px; background: url(/icons/google.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-gmail   { height: 48px; width: 48px; background: url(/icons/official-gmail-icon-2020-.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-google-drive   { height: 48px; width: 48px; background: url(/icons/google-drive-512.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-google-maps   { height: 48px; width: 48px; background: url(/icons/google-maps-2020-icon.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-google-photos   { height: 48px; width: 48px; background: url(/icons/google-photos.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-github   { height: 48px; width: 48px; background: url(/icons/github-1.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-linkedin   { height: 48px; width: 48px; background: url(/icons/linkedin-icon.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-amazon   { height: 48px; width: 48px; background: url(/icons/amazon-icon-1.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-twitter   { height: 48px; width: 48px; background: url(/icons/twitter.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}

    .badge-peacock   { height: 48px; width: 48px; background: url(/icons/peacock.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-netflix   { height: 48px; width: 48px; background: url(/icons/netflix.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-hbomax   { height: 48px; width: 48px; background: url(/icons/hbomax.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-disneyplus   { height: 48px; width: 48px; background: url(/icons/disneyplus.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-primevideo   { height: 48px; width: 48px; background: url(/icons/primevideo.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-hulu   { height: 48px; width: 48px; background: url(/icons/hulu.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}

    .badge-yahoo-finance { height: 48px; width: 48px; background: url(https://s.yimg.com/cv/apiv2/myc/finance/Finance_icon_0919_250x252.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-fred          { height: 48px; width: 48px; background: url(https://fred.stlouisfed.org/images/FRED_Logo_for_Waffle.svg) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-bls           { height: 48px; width: 48px; background: url(https://data.bls.gov/images/bls_emblem_trans.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-sec           { height: 48px; width: 48px; background: #003968 url(https://www.sec.gov/edgar/search/images/edgar-logo-2x.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-cboe          { height: 48px; width: 48px; background: url(https://www.cboe.com/apple-touch-icon.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-federalreserve  { height: 48px; width: 48px; background: url(https://www.federalreserve.gov/images/seal.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-treasurydirect  { height: 48px; width: 48px; background: url(https://www.treasurydirect.gov/favicon.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-fiscaldata      { height: 48px; width: 48px; background: url(https://fiscaldata.treasury.gov/icons/icon-96x96.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-cmegroup        { height: 48px; width: 48px; background: url(https://www.cmegroup.com/favicon.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-archive-ph    { height: 48px; width: 48px; background: url(https://archive.ph/apple-touch-icon.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-wayback       { height: 48px; width: 48px; background: url(https://archive.org/apple-touch-icon.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-foodcoop      { height: 48px; width: 48px; background: url(https://members.foodcoop.com/apple-touch-icon.png) no-repeat 0 0; background-size: 48px; background-position: center center;}

    .badge-squarespace   { height: 48px; width: 48px; background: url(https://www.squarespace.com/favicon.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-namecheap     { height: 48px; width: 48px; background: url(https://www.namecheap.com/favicon.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-cloudflare    { height: 48px; width: 48px; background: url(https://www.cloudflare.com/favicon.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-porkbun       { height: 48px; width: 48px; background: url(https://porkbun.com/partners/logos/porkbun.comphpPkl2eU.svg) no-repeat 0 0; background-size: 48px; background-position: center center;}

    .badge-weather-gov   { height: 48px; width: 48px; background: url(/icons/weather-gov.ico) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-weather-com   { height: 48px; width: 48px; background: url(/icons/weather-com.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-windy         { height: 48px; width: 48px; background: url(/icons/windy.png) no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-accuweather   { height: 48px; width: 48px; background: url(/icons/accuweather.png) no-repeat 0 0; background-size: 48px; background-position: center center;}


    .badge-home   { height: 48px; width: 48px; background: url(/icons/home.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-arrow   { height: 48px; width: 48px; background: url(/icons/arrow.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-pensine   { height: 48px; width: 48px; background: url(/icons/pensine.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-do-my-taxes   { height: 48px; width: 48px; background: url(/icons/do-my-taxes.svg)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-watch-me-buzz   { height: 48px; width: 48px; background: url(/icons/watch-me-buzz.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}
    .badge-startup-extension   { height: 48px; width: 48px; background: url(/icons/startup-extension.png)  no-repeat 0 0; background-size: 48px; background-position: center center;}


  </style>
